resources/Disposition/default/RST_NODERED_NODES.json
[
  {
    "id": "fbcc6274.7d5be",
    "type": "http in",
    "z": "ecb44e8.9b069b",
    "name": "",
    "url": "/news",
    "method": "get",
    "x": 80,
    "y": 100,
    "wires": [
      [
        "7386d12f.3f0a2"
      ]
    ]
  },
  {
    "id": "77cd121e.1b474c",
    "type": "http response",
    "z": "ecb44e8.9b069b",
    "name": "",
    "x": 590,
    "y": 100,
    "wires": []
  },
  {
    "id": "5203faaf.777994",
    "type": "template",
    "z": "ecb44e8.9b069b",
    "name": "news",
    "field": "payload",
    "fieldType": "msg",
    "syntax": "mustache",
    "template": "<div class=\"row\">\n\t<div class=\"col-md-12\">\n\t\t<h3>News <button class=\"btn btn-xs btn-default pull-right\" onclick=\"news();\"><span class=\"glyphicon glyphicon-refresh\"></span> Refresh</button></h3>\n\t</div>\n{{#payload}}\n\t<div class=\"col-md-12\">\n\t\t<div class=\"panel panel-warning\">\n\t\t\t<div class=\"panel-heading\"><span class=\"glyphicon glyphicon-bullhorn\"></span> {{title}}</div>\n\t\t\t<div class=\"panel-body\">\n\t\t\t\t{{#image}}\n\t\t\t\t<img src=\"data:{{mime}};base64,{{content}}\" style=\"margin: 5px; float: left;\"/>\n\t\t\t\t{{/image}}\n\t\t\t\t<p>{{content}}</p>\n\t\t\t</div>\n\t\t</div>\n\t</div>\n{{/payload}}\n</div>\n",
    "x": 470,
    "y": 100,
    "wires": [
      [
        "77cd121e.1b474c"
      ]
    ]
  },
  {
    "id": "7386d12f.3f0a2",
    "type": "function",
    "z": "ecb44e8.9b069b",
    "name": "params",
    "func": "msg.payload = {\n\tparameters: {\n\t\tinlineImages: true\n\t}\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 220,
    "y": 100,
    "wires": [
      [
        "78b4b6b1.4f9c48"
      ]
    ]
  },
  {
    "id": "78b4b6b1.4f9c48",
    "type": "simplicite-session",
    "z": "ecb44e8.9b069b",
    "name": "news",
    "server": "8d2f0431.acb558",
    "action": "news",
    "x": 350,
    "y": 100,
    "wires": [
      [
        "5203faaf.777994"
      ]
    ]
  },
  {
    "id": "24df0003.b44ed",
    "type": "http in",
    "z": "ecb44e8.9b069b",
    "name": "",
    "url": "/restaurants",
    "method": "get",
    "swaggerDoc": "",
    "x": 100,
    "y": 40,
    "wires": [
      [
        "78ccfd0b.80ad84"
      ]
    ]
  },
  {
    "id": "449b2367.7eb56c",
    "type": "template",
    "z": "ecb44e8.9b069b",
    "name": "restaurants",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "<html>\n<head>\n<title>Simplicit&eacute; Advisor</title>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/>\n<link rel=\"shortcut icon\" href=\"{{{payload.resourcesURL}}}/logos/favicon.ico\"/>\n<link href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css\" rel=\"stylesheet\"/>\n</head>\n<body style=\"background-color: #ecf0f5!important;\">\n<div class=\"container\">\n\t<div class=\"row\">\n\t\t<div class=\"col-md-12\" style=\"text-align: center; margin-top: 10px; margin-bottom: 20px;\">\n\t\t\t<img style=\"max-width: 100%;\" src=\"{{{payload.resourcesURL}}}/modules/restaurantsdemo-nodered-3.1.png\"/>\n\t\t</div>\n\t</div>\n\t<div class=\"row\"style=\"background-color: #fff;padding: 20px;border: rgb(216, 221, 230) 1px solid;border-radius: 5px;\">\n\t\t<div id=\"main\" class=\"col-md-9\"></div>\n\t\t<div id=\"news\" class=\"col-md-3\"></div>\n\t</div>\n\t<div class=\"row\">\n\t\t<div class=\"col-md-12\" style=\"text-align: center;\"><hr/>&copy; Simplicit&eacute; Software</div>\n\t</div>\n</div>\n<script src=\"https://code.jquery.com/jquery-2.2.4.min.js\"></script>\n<script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js\"></script>\n<script type=\"text/javascript\">\nvar locId = undefined, page = 1;\nfunction main(id, p) {\n    if (id) locId = id;\n    if (p) page = p;\n    $(\"#main\").text(\"Loading...\").load(\"/restaurants/main\" + (id ? \"?location=\" + id + \"&page=\" + page : \"\"));\n}\nfunction news() { $(\"#news\").text(\"Loading...\").load(\"/news\"); }\n$(document).ready(function() { news(); main(); });\n</script>\n</body>\n</html>\n",
    "x": 410,
    "y": 40,
    "wires": [
      [
        "3e19aac8.c85db6"
      ]
    ]
  },
  {
    "id": "3e19aac8.c85db6",
    "type": "http response",
    "z": "ecb44e8.9b069b",
    "name": "",
    "x": 550,
    "y": 40,
    "wires": []
  },
  {
    "id": "78ccfd0b.80ad84",
    "type": "function",
    "z": "ecb44e8.9b069b",
    "name": "params",
    "func": "msg.payload = { resourcesURL: \"https://www.simplicite.io/resources/\" };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 260,
    "y": 40,
    "wires": [
      [
        "449b2367.7eb56c"
      ]
    ]
  },
  {
    "id": "12804232.e2160e",
    "type": "http in",
    "z": "ecb44e8.9b069b",
    "name": "",
    "url": "/restaurants/main",
    "method": "get",
    "swaggerDoc": "",
    "x": 120,
    "y": 180,
    "wires": [
      [
        "598087ed.66e4f8"
      ]
    ]
  },
  {
    "id": "b8006543.0b1538",
    "type": "http response",
    "z": "ecb44e8.9b069b",
    "name": "",
    "x": 950,
    "y": 180,
    "wires": []
  },
  {
    "id": "61a5b7b6.209988",
    "type": "template",
    "z": "ecb44e8.9b069b",
    "name": "restaurants",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "<div class=\"row\">\n\t<div class=\"col-md-12\">\n\t\t<h3>{{payload.count}} restaurant(s) found <button class=\"btn btn-xs btn-default pull-right\" onclick=\"main();\"><span class=\"glyphicon glyphicon-transfer\"></span> Change location</button></h3>\n        <p>\n            <button class=\"btn btn-xs btn-default\" onclick=\"main({{payload.filters.rstRstLocId}}, Math.max({{payload.page}} - 1, 1));\">&lt;</button>\n            page {{payload.page}} / {{payload.maxpage}}\n            <button class=\"btn btn-xs btn-default\" onclick=\"main({{payload.filters.rstRstLocId}}, Math.min({{payload.page}} + 1, {{payload.maxpage}}));\">&gt;</button>\n        </p>\n\t</div>\n{{#payload.list}}\n\t<div class=\"col-md-12\">\n\t\t<div class=\"panel panel-success\">\n\t\t\t<div class=\"panel-heading\"><h4><span class=\"glyphicon glyphicon-home\"></span> {{rstRstName}}<sup>&nbsp;<span class=\"label label-primary\">{{rstRstCuisine}}</span></sup></h4></div>\n\t\t\t<div class=\"panel-body\">\n\t\t\t\t<div>\n    \t\t\t\t{{#rstRstPicture}}\n    \t\t\t\t<img src=\"data:{{mime}};base64,{{thumbnail}}\" style=\"margin: 5px; float: left;\"/>\n    \t\t\t\t{{/rstRstPicture}}\n    \t\t\t\t<p>{{rstRstAddress}}<br/>Rating <span class=\"badge\">{{rstRstRating}}%</span> based on <span class=\"badge\">{{rstRstNbComments}}</span> comment(s)</p>\n    \t\t\t\t<p></p><button class=\"btn btn-xs\" onclick=\"map('{{rstRstCoordinates}}')\"><span class=\"glyphicon glyphicon-globe\"></span> Map</button>\n    \t\t\t\t&nbsp;<button class=\"btn btn-success btn-xs\" onclick=\"comments({{row_id}})\"><span class=\"glyphicon glyphicon-comment\"></span> Comments</button>\n    \t\t\t\t<br/>{{{rstRstDescription}}}</p>\n    \t\t\t\t<div class=\"label label-info\">{{rstRst}}</div>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t</div>\n\t</div>\n{{/payload.list}}\n</div>\n<div class=\"modal fade bs-example-modal-md\" id=\"map-modal\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"map-modal-label\">\n  <div class=\"modal-dialog modal-md\" role=\"document\">\n    <div class=\"modal-content\">\n      <div class=\"modal-header\">\n        <button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>\n        <h4 class=\"modal-title\" id=\"map-modal-label\">Map</h4>\n      </div>\n      <div class=\"modal-body\">\n          <div id=\"map-modal-body\" style=\"text-align: center; overflow: auto;\"></div>\n      </div>\n    </div>\n  </div>\n</div>\n<div class=\"modal fade bs-example-modal-md\" id=\"comments-modal\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"comments-modal-label\">\n  <div class=\"modal-dialog modal-md\" role=\"document\">\n    <div class=\"modal-content\">\n      <div class=\"modal-header\">\n        <button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>\n        <h4 class=\"modal-title\" id=\"comments-modal-label\">Comments</h4>\n      </div>\n      <div  id=\"comments-modal-body\" class=\"modal-body\"></div>\n    </div>\n  </div>\n</div>\n<script type=\"text/javascript\">\npage = {{payload.page}};\nfunction map(c) {\n    $(\"#map-modal-body\").empty().append($(\"<img/>\", { src: \"https://maps.googleapis.com/maps/api/staticmap?center=\" + c + \"&size=500x400&zoom=13&markers=\" + c + \"&key=AIzaSyABNE2cXhg1s0fKmHrDjgizmEvDDygJk_A\" }));\n    $(\"#map-modal\").modal(\"show\");\n}\nfunction comments(id) {\n    $(\"#comments-modal\").modal(\"show\");\n    $(\"#comments-modal-body\").text(\"Loading...\").load(\"/restaurants/comments?restaurant=\" + id, function() {\n        $(\"#comments-restaurant\").val(id);\n    });\n}\n</script>",
    "x": 790,
    "y": 220,
    "wires": [
      [
        "b8006543.0b1538"
      ]
    ]
  },
  {
    "id": "ce55f83f.38dbe8",
    "type": "simplicite-object",
    "z": "ecb44e8.9b069b",
    "name": "",
    "server": "8d2f0431.acb558",
    "objectname": "RstRestaurant",
    "action": "search",
    "x": 620,
    "y": 220,
    "wires": [
      [
        "61a5b7b6.209988"
      ]
    ]
  },
  {
    "id": "a9ac807b.6c6fe",
    "type": "function",
    "z": "ecb44e8.9b069b",
    "name": "params",
    "func": "msg.payload = {\n\tparameters: {\n\t\tinlineThumbs: true,\n\t\tpage: msg.payload.page ? msg.payload.page : 1\n\t},\n\tfilters: { rstRstLocId: msg.payload.location }\n};\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "x": 460,
    "y": 220,
    "wires": [
      [
        "ce55f83f.38dbe8"
      ]
    ]
  },
  {
    "id": "1b602582.442aca",
    "type": "simplicite-object",
    "z": "ecb44e8.9b069b",
    "name": "",
    "server": "8d2f0431.acb558",
    "objectname": "RstLocation",
    "action": "search",
    "x": 530,
    "y": 160,
    "wires": [
      [
        "82066beb.ca7e48"
      ]
    ]
  },
  {
    "id": "82066beb.ca7e48",
    "type": "template",
    "z": "ecb44e8.9b069b",
    "name": "locations",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "<h3>Locations</h3>\n<div class=\"form-group\">\n    <label for=\"location-selector\">Select location:</label>\n    <select class=\"form-control\" id=\"location-selector\">\n        <option value=\"\" selected=\"selected\"></option>\n    {{#payload.list}}\n\t    <option value=\"{{row_id}}\">{{rstLocName}}</option>\n    {{/payload.list}}\n    </select>\n</div>\n<script type=\"text/javascript\">$(\"#location-selector\").change(function() { main($(this).val(), 1); });</script>",
    "x": 680,
    "y": 160,
    "wires": [
      [
        "b8006543.0b1538"
      ]
    ]
  },
  {
    "id": "598087ed.66e4f8",
    "type": "switch",
    "z": "ecb44e8.9b069b",
    "name": "location",
    "property": "payload.location",
    "propertyType": "msg",
    "rules": [
      {
        "t": "null"
      },
      {
        "t": "nnull"
      }
    ],
    "checkall": "true",
    "outputs": 2,
    "x": 300,
    "y": 180,
    "wires": [
      [
        "1b602582.442aca"
      ],
      [
        "a9ac807b.6c6fe"
      ]
    ]
  },
  {
    "id": "9044d77.8f84b28",
    "type": "http response",
    "z": "ecb44e8.9b069b",
    "name": "",
    "x": 790,
    "y": 280,
    "wires": []
  },
  {
    "id": "6625336a.3bcd1c",
    "type": "http in",
    "z": "ecb44e8.9b069b",
    "name": "",
    "url": "/restaurants/comments",
    "method": "get",
    "swaggerDoc": "",
    "x": 140,
    "y": 280,
    "wires": [
      [
        "945462b7.10783"
      ]
    ]
  },
  {
    "id": "11b00e52.5d1df2",
    "type": "simplicite-object",
    "z": "ecb44e8.9b069b",
    "name": "",
    "server": "8d2f0431.acb558",
    "objectname": "RstComments",
    "action": "search",
    "x": 500,
    "y": 280,
    "wires": [
      [
        "c6f90bf.c85dff8"
      ]
    ]
  },
  {
    "id": "c6f90bf.c85dff8",
    "type": "template",
    "z": "ecb44e8.9b069b",
    "name": "comments",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "<form id=\"comments-form\" style=\"clear: both;\">\n    <input type=\"hidden\" id=\"comments-restaurant\" name=\"rstCmtRstId\"/>\n    <div class=\"form-group\">\n        <label for=\"comments-email\">Your email:</label>\n        <input type=\"email\" class=\"form-control\" id=\"comments-email\" name=\"rstCmtEmail\">\n    </div>\n    <div class=\"form-group\">\n        <label for=\"comments\">Your comments:</label>\n        <textarea rows=\"5\" class=\"form-control\" id=\"comments-comments\" name=\"rstCmtComments\"></textarea>\n    </div>\n    <div class=\"form-group\">\n        <label>Your evaluation:</label>\n        <label class=\"radio-inline\"><input type=\"radio\" name=\"rstCmtEval\" value=\"0\">Very bad</label>\n        <label class=\"radio-inline\"><input type=\"radio\" name=\"rstCmtEval\" value=\"25\">Bad</label>\n        <label class=\"radio-inline\"><input type=\"radio\" name=\"rstCmtEval\" value=\"50\">Average</label>\n        <label class=\"radio-inline\"><input type=\"radio\" name=\"rstCmtEval\" value=\"75\">Good</label>\n        <label class=\"radio-inline\"><input type=\"radio\" name=\"rstCmtEval\" value=\"100\">Very good</label>\n    </div>\n</form>\n<button type=\"button\" id=\"comments-submit\" class=\"btn btn-primary\" onclick=\"send()\">Send</button>\n<h3>Other comments:</h3>\n<div id=\"comments-all\" style=\"max-height: 300px; overflow: auto;\">\n{{#payload.list}}\n    <p><span style=\"color: #A0A0A0;\">On {{rstCmtDateTime}}, {{rstCmtEmail}} said:</span>\n    <br/><span class=\"badge\">{{rstCmtEval}}%</span> {{rstCmtComments}}</p>\n{{/payload.list}}\n{{^payload.list}}\n    No other comments so far...\n{{/payload.list}}\n</div>\n<script type=\"text/javascript\">\nfunction send() {\n    $.post(\"/restaurants/comments\", $(\"#comments-form\").serialize()).done(function(res) {\n        if (res.error)\n            alert(res.error.message.messages[0]);\n        else\n            $(\"#comments-modal\").modal(\"hide\").on('hidden.bs.modal', function () { main(locId); });\n    });\n}\n</script>\n",
    "x": 660,
    "y": 280,
    "wires": [
      [
        "9044d77.8f84b28"
      ]
    ]
  },
  {
    "id": "945462b7.10783",
    "type": "function",
    "z": "ecb44e8.9b069b",
    "name": "params",
    "func": "msg.payload = {\n    filters: { rstCmtRstId: msg.payload.restaurant }\n};\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "x": 340,
    "y": 280,
    "wires": [
      [
        "11b00e52.5d1df2"
      ]
    ]
  },
  {
    "id": "67f21e48.e5638",
    "type": "http in",
    "z": "ecb44e8.9b069b",
    "name": "",
    "url": "/restaurants/comments",
    "method": "post",
    "swaggerDoc": "",
    "x": 140,
    "y": 340,
    "wires": [
      [
        "324f6af7.428016"
      ]
    ]
  },
  {
    "id": "de35be13.f5a2f",
    "type": "http response",
    "z": "ecb44e8.9b069b",
    "name": "",
    "x": 1250,
    "y": 340,
    "wires": []
  },
  {
    "id": "c437c459.22b978",
    "type": "function",
    "z": "ecb44e8.9b069b",
    "name": "params",
    "func": "msg.payload = { item: msg.payload };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 940,
    "y": 340,
    "wires": [
      [
        "d3c2e517.f4ea28"
      ]
    ]
  },
  {
    "id": "d3c2e517.f4ea28",
    "type": "simplicite-object",
    "z": "ecb44e8.9b069b",
    "name": "",
    "server": "8d2f0431.acb558",
    "objectname": "RstComments",
    "action": "create",
    "x": 1100,
    "y": 340,
    "wires": [
      [
        "de35be13.f5a2f"
      ]
    ]
  },
  {
    "id": "65e2a428.45ddcc",
    "type": "sentiment",
    "z": "ecb44e8.9b069b",
    "name": "",
    "x": 520,
    "y": 380,
    "wires": [
      [
        "fd68ad47.f2808"
      ]
    ]
  },
  {
    "id": "10fcf102.370fbf",
    "type": "function",
    "z": "ecb44e8.9b069b",
    "name": "comments",
    "func": "msg.payload = msg.payload.rstCmtComments;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 360,
    "y": 380,
    "wires": [
      [
        "65e2a428.45ddcc"
      ]
    ]
  },
  {
    "id": "324f6af7.428016",
    "type": "join",
    "z": "ecb44e8.9b069b",
    "name": "",
    "mode": "custom",
    "build": "merged",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "timeout": "",
    "count": "2",
    "x": 810,
    "y": 340,
    "wires": [
      [
        "c437c459.22b978"
      ]
    ]
  },
  {
    "id": "fd68ad47.f2808",
    "type": "function",
    "z": "ecb44e8.9b069b",
    "name": "score",
    "func": "msg.payload = { rstCmtSentiment: msg.sentiment.score }\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 670,
    "y": 380,
    "wires": [
      []
    ]
  },
  {
    "id": "e5e860ba.150f1",
    "type": "function",
    "z": "ecb44e8.9b069b",
    "name": "comments",
    "func": "msg.payload = msg.payload.rstCmtComments;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 360,
    "y": 440,
    "wires": [
      [
        "2df854a3.e959dc"
      ]
    ]
  },
  {
    "id": "6dafa23d.52fa3c",
    "type": "function",
    "z": "ecb44e8.9b069b",
    "name": "score",
    "func": "msg.payload = { rstCmtTones: JSON.stringify(msg.response.document_tone.tone_categories) }\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 670,
    "y": 440,
    "wires": [
      []
    ]
  },
  {
    "id": "2df854a3.e959dc",
    "type": "watson-tone-analyzer-v3",
    "z": "ecb44e8.9b069b",
    "name": "",
    "tones": "emotion",
    "sentences": "false",
    "contentType": "false",
    "x": 520,
    "y": 440,
    "wires": [
      [
        "6dafa23d.52fa3c"
      ]
    ]
  },
  {
    "id": "8d2f0431.acb558",
    "type": "simplicite-config",
    "z": "",
    "name": "default",
    "user": "public",
    "password": "simplicite",
    "host": "xxx.try.simplicite.io",
    "port": "80",
    "scheme": "http",
    "root": "",
    "debug": "false"
  }
]
