resources/Disposition/default/RST_NODERED_NODES.json
[
    {
        "id": "9a723572.2781d8",
        "type": "http in",
        "z": "1452011e.3101ef",
        "name": "",
        "url": "/news",
        "method": "get",
        "x": 100,
        "y": 120,
        "wires": [
            [
                "5e30a145.d3ea"
            ]
        ]
    },
    {
        "id": "9b5f0b2.d40f3f8",
        "type": "http response",
        "z": "1452011e.3101ef",
        "name": "",
        "x": 610,
        "y": 120,
        "wires": []
    },
    {
        "id": "f51c22cd.c241b",
        "type": "template",
        "z": "1452011e.3101ef",
        "name": "news",
        "field": "payload",
        "fieldType": "msg",
        "syntax": "mustache",
        "template": "<div class=\"row\">\n\t<div class=\"col-md-12\">\n\t\t<h3>News <button class=\"btn btn-xs btn-default pull-right\" onclick=\"news();\"><span class=\"glyphicon glyphicon-refresh\"></span> Refresh</button></h3>\n\t</div>\n{{#payload}}\n\t<div class=\"col-md-12\">\n\t\t<div class=\"panel panel-warning\">\n\t\t\t<div class=\"panel-heading\"><span class=\"glyphicon glyphicon-bullhorn\"></span> {{title}}</div>\n\t\t\t<div class=\"panel-body\">\n\t\t\t\t{{#image}}\n\t\t\t\t<img src=\"data:{{mime}};base64,{{content}}\" style=\"margin: 5px; float: left;\"/>\n\t\t\t\t{{/image}}\n\t\t\t\t<p>{{content}}</p>\n\t\t\t</div>\n\t\t</div>\n\t</div>\n{{/payload}}\n</div>\n",
        "x": 490,
        "y": 120,
        "wires": [
            [
                "9b5f0b2.d40f3f8"
            ]
        ]
    },
    {
        "id": "5e30a145.d3ea",
        "type": "function",
        "z": "1452011e.3101ef",
        "name": "params",
        "func": "msg.payload = {\n\tparameters: {\n\t\tinlineImages: true\n\t}\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 120,
        "wires": [
            [
                "49e763c6.4d842c"
            ]
        ]
    },
    {
        "id": "49e763c6.4d842c",
        "type": "simplicite-session",
        "z": "1452011e.3101ef",
        "name": "news",
        "server": "cb290fd0.c5004",
        "action": "news",
        "x": 370,
        "y": 120,
        "wires": [
            [
                "f51c22cd.c241b"
            ]
        ]
    },
    {
        "id": "fe0e43d3.b5071",
        "type": "http in",
        "z": "1452011e.3101ef",
        "name": "",
        "url": "/restaurants",
        "method": "get",
        "swaggerDoc": "",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "301d5ec7.f92a42"
            ]
        ]
    },
    {
        "id": "74207b88.1de034",
        "type": "template",
        "z": "1452011e.3101ef",
        "name": "restaurants",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n<head>\n<title>Simplicit&eacute; Advisor</title>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/>\n<link rel=\"shortcut icon\" href=\"{{{payload.resourcesURL}}}/logos/favicon.ico\"/>\n<link href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css\" rel=\"stylesheet\"/>\n</head>\n<body style=\"background-color: #ecf0f5!important;\">\n<div class=\"container\">\n\t<div class=\"row\">\n\t\t<div class=\"col-md-12\" style=\"text-align: center; margin-top: 10px; margin-bottom: 20px;\">\n\t\t\t<img style=\"max-width: 100%;\" src=\"{{{payload.resourcesURL}}}/modules/restaurantsdemo-nodered-3.1.png\"/>\n\t\t</div>\n\t</div>\n\t<div class=\"row\" style=\"background-color: #fff;padding: 20px;border: rgb(216, 221, 230) 1px solid;border-radius: 5px;\">\n\t\t<div id=\"main\" class=\"col-md-9\"></div>\n\t\t<div id=\"news\" class=\"col-md-3\"></div>\n\t</div>\n\t<div class=\"row\">\n\t\t<div class=\"col-md-12\" style=\"text-align: center;\"><hr/>&copy; Simplicit&eacute; Software</div>\n\t</div>\n</div>\n<script src=\"https://code.jquery.com/jquery-2.2.4.min.js\"></script>\n<script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js\"></script>\n<script type=\"text/javascript\">\nvar locId = undefined, page = 1;\nfunction main(id, p) {\n    if (id) locId = id;\n    if (p) page = p;\n    $(\"#main\").text(\"Loading...\").load(\"/restaurants/main\" + (id ? \"?location=\" + id + \"&page=\" + page : \"\"));\n}\nfunction news() { $(\"#news\").text(\"Loading...\").load(\"/news\"); }\n$(document).ready(function() { news(); main(); });\n</script>\n</body>\n</html>\n",
        "x": 430,
        "y": 60,
        "wires": [
            [
                "27a9af5b.e7fa5"
            ]
        ]
    },
    {
        "id": "27a9af5b.e7fa5",
        "type": "http response",
        "z": "1452011e.3101ef",
        "name": "",
        "x": 570,
        "y": 60,
        "wires": []
    },
    {
        "id": "301d5ec7.f92a42",
        "type": "function",
        "z": "1452011e.3101ef",
        "name": "params",
        "func": "msg.payload = { resourcesURL: \"https://www.simplicite.io/resources/\" };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 60,
        "wires": [
            [
                "74207b88.1de034"
            ]
        ]
    },
    {
        "id": "7ca632d6.a8eafc",
        "type": "http in",
        "z": "1452011e.3101ef",
        "name": "",
        "url": "/restaurants/main",
        "method": "get",
        "swaggerDoc": "",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "6f9046c0.78a898"
            ]
        ]
    },
    {
        "id": "9d7bf3a3.e3f7f",
        "type": "http response",
        "z": "1452011e.3101ef",
        "name": "",
        "x": 1130,
        "y": 200,
        "wires": []
    },
    {
        "id": "3790d1ad.632f4e",
        "type": "template",
        "z": "1452011e.3101ef",
        "name": "restaurants",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<div class=\"row\">\n\t<div class=\"col-md-12\">\n\t\t<h3>{{payload.count}} restaurant(s) found <button class=\"btn btn-xs btn-default pull-right\" onclick=\"main();\"><span class=\"glyphicon glyphicon-transfer\"></span> Change location</button></h3>\n        <p>\n            <button class=\"btn btn-xs btn-default\" onclick=\"main({{payload.filters.rstRstLocId}}, Math.max({{payload.page}} - 1, 1));\">&lt;</button>\n            page {{payload.page}} / {{payload.maxpage}}\n            <button class=\"btn btn-xs btn-default\" onclick=\"main({{payload.filters.rstRstLocId}}, Math.min({{payload.page}} + 1, {{payload.maxpage}}));\">&gt;</button>\n        </p>\n\t</div>\n{{#payload.list}}\n\t<div class=\"col-md-12\">\n\t\t<div class=\"panel panel-success\">\n\t\t\t<div class=\"panel-heading\"><h4><span class=\"glyphicon glyphicon-home\"></span> {{rstRstName}}<sup>&nbsp;<span class=\"label label-primary\">{{rstRstCuisine}}</span></sup></h4></div>\n\t\t\t<div class=\"panel-body\">\n\t\t\t\t<div>\n    \t\t\t\t{{#rstRstPicture}}\n    \t\t\t\t<img src=\"data:{{mime}};base64,{{thumbnail}}\" style=\"margin: 5px; float: left;\"/>\n    \t\t\t\t{{/rstRstPicture}}\n    \t\t\t\t<p>{{rstRstAddress}}<br/>Rating <span class=\"badge\">{{rstRstRating}}%</span> based on <span class=\"badge\">{{rstRstNbComments}}</span> comment(s)</p>\n    \t\t\t\t<p><button class=\"btn btn-xs\" onclick=\"map('{{rstRstCoordinates}}')\"><span class=\"glyphicon glyphicon-globe\"></span> Map</button>\n    \t\t\t\t&nbsp;<button class=\"btn btn-success btn-xs\" onclick=\"comments({{row_id}})\"><span class=\"glyphicon glyphicon-comment\"></span> Comments</button>\n    \t\t\t\t<br/>{{{rstRstDescription}}}</p>\n    \t\t\t\t<div class=\"label label-info\">{{rstRst}}</div>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t</div>\n\t</div>\n{{/payload.list}}\n</div>\n<div class=\"modal fade bs-example-modal-md\" id=\"map-modal\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"map-modal-label\">\n  <div class=\"modal-dialog modal-md\" role=\"document\">\n    <div class=\"modal-content\">\n      <div class=\"modal-header\">\n        <button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>\n        <h4 class=\"modal-title\" id=\"map-modal-label\">Map</h4>\n      </div>\n      <div class=\"modal-body\">\n          <div id=\"map-modal-body\" style=\"text-align: center; overflow: auto;\"></div>\n      </div>\n    </div>\n  </div>\n</div>\n<div class=\"modal fade bs-example-modal-md\" id=\"comments-modal\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"comments-modal-label\">\n  <div class=\"modal-dialog modal-md\" role=\"document\">\n    <div class=\"modal-content\">\n      <div class=\"modal-header\">\n        <button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>\n        <h4 class=\"modal-title\" id=\"comments-modal-label\">Comments</h4>\n      </div>\n      <div  id=\"comments-modal-body\" class=\"modal-body\"></div>\n    </div>\n  </div>\n</div>\n<script type=\"text/javascript\">\npage = {{payload.page}};\nfunction map(c) {\n    $(\"#map-modal-body\").empty().append($(\"<img/>\", { src: \"https://maps.googleapis.com/maps/api/staticmap?center=\" + c + \"&size=500x400&zoom=13&markers=\" + c + \"&key={{payload.googleapikey}}\" }));\n    $(\"#map-modal\").modal(\"show\");\n}\nfunction comments(id) {\n    $(\"#comments-modal\").modal(\"show\");\n    $(\"#comments-modal-body\").text(\"Loading...\").load(\"/restaurants/comments?restaurant=\" + id, function() {\n        $(\"#comments-restaurant\").val(id);\n    });\n}\n</script>",
        "x": 970,
        "y": 240,
        "wires": [
            [
                "9d7bf3a3.e3f7f"
            ]
        ]
    },
    {
        "id": "135be974.4de017",
        "type": "simplicite-object",
        "z": "1452011e.3101ef",
        "name": "",
        "server": "cb290fd0.c5004",
        "objectname": "RstRestaurant",
        "action": "search",
        "x": 640,
        "y": 240,
        "wires": [
            [
                "558137f2.1e6968"
            ]
        ]
    },
    {
        "id": "31e4862b.2d749a",
        "type": "function",
        "z": "1452011e.3101ef",
        "name": "params",
        "func": "msg.payload = {\n\tparameters: {\n\t\tinlineThumbs: true,\n\t\tpage: msg.payload.page ? msg.payload.page : 1\n\t},\n\tfilters: { rstRstLocId: msg.payload.location }\n};\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 240,
        "wires": [
            [
                "135be974.4de017"
            ]
        ]
    },
    {
        "id": "520f9ee2.0fb23",
        "type": "simplicite-object",
        "z": "1452011e.3101ef",
        "name": "",
        "server": "cb290fd0.c5004",
        "objectname": "RstLocation",
        "action": "search",
        "x": 630,
        "y": 180,
        "wires": [
            [
                "626bdc03.9f7e74"
            ]
        ]
    },
    {
        "id": "626bdc03.9f7e74",
        "type": "template",
        "z": "1452011e.3101ef",
        "name": "locations",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<h3>Locations</h3>\n<div class=\"form-group\">\n    <label for=\"location-selector\">Select location:</label>\n    <select class=\"form-control\" id=\"location-selector\">\n        <option value=\"\" selected=\"selected\"></option>\n    {{#payload.list}}\n\t    <option value=\"{{row_id}}\">{{rstLocName}}</option>\n    {{/payload.list}}\n    </select>\n</div>\n<script type=\"text/javascript\">$(\"#location-selector\").change(function() { main($(this).val(), 1); });</script>",
        "x": 780,
        "y": 180,
        "wires": [
            [
                "9d7bf3a3.e3f7f"
            ]
        ]
    },
    {
        "id": "6f9046c0.78a898",
        "type": "switch",
        "z": "1452011e.3101ef",
        "name": "location",
        "property": "payload.location",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 320,
        "y": 200,
        "wires": [
            [
                "520f9ee2.0fb23"
            ],
            [
                "31e4862b.2d749a"
            ]
        ]
    },
    {
        "id": "bc12eb64.16db88",
        "type": "http response",
        "z": "1452011e.3101ef",
        "name": "",
        "x": 830,
        "y": 300,
        "wires": []
    },
    {
        "id": "90083e87.85ed2",
        "type": "http in",
        "z": "1452011e.3101ef",
        "name": "",
        "url": "/restaurants/comments",
        "method": "get",
        "swaggerDoc": "",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "3342d34b.377e8c"
            ]
        ]
    },
    {
        "id": "500bfaf8.d26664",
        "type": "simplicite-object",
        "z": "1452011e.3101ef",
        "name": "",
        "server": "cb290fd0.c5004",
        "objectname": "RstComments",
        "action": "search",
        "x": 520,
        "y": 300,
        "wires": [
            [
                "c67c020d.38d0c"
            ]
        ]
    },
    {
        "id": "c67c020d.38d0c",
        "type": "template",
        "z": "1452011e.3101ef",
        "name": "comments",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<form id=\"comments-form\" style=\"clear: both;\">\n    <input type=\"hidden\" id=\"comments-restaurant\" name=\"rstCmtRstId\"/>\n    <div class=\"form-group\">\n        <label for=\"comments-email\">Your email:</label>\n        <input type=\"email\" class=\"form-control\" id=\"comments-email\" name=\"rstCmtEmail\">\n    </div>\n    <div class=\"form-group\">\n        <label for=\"comments\">Your comments:</label>\n        <textarea rows=\"5\" class=\"form-control\" id=\"comments-comments\" name=\"rstCmtComments\"></textarea>\n    </div>\n    <div class=\"form-group\">\n        <label>Your evaluation:</label>\n        <label class=\"radio-inline\"><input type=\"radio\" name=\"rstCmtEval\" value=\"1\">Very bad</label>\n        <label class=\"radio-inline\"><input type=\"radio\" name=\"rstCmtEval\" value=\"2\">Bad</label>\n        <label class=\"radio-inline\"><input type=\"radio\" name=\"rstCmtEval\" value=\"3\">Average</label>\n        <label class=\"radio-inline\"><input type=\"radio\" name=\"rstCmtEval\" value=\"4\">Good</label>\n        <label class=\"radio-inline\"><input type=\"radio\" name=\"rstCmtEval\" value=\"5\">Very good</label>\n    </div>\n</form>\n<button type=\"button\" id=\"comments-submit\" class=\"btn btn-primary\" onclick=\"send()\">Send</button>\n<h3>Other comments:</h3>\n<div id=\"comments-all\" style=\"max-height: 300px; overflow: auto;\">\n{{#payload.list}}\n    <p><span style=\"color: #A0A0A0;\">On {{rstCmtDateTime}}, {{rstCmtEmail}} said:</span>\n    <br/><span class=\"badge\">{{rstCmtEval}}%</span> {{rstCmtComments}}</p>\n{{/payload.list}}\n{{^payload.list}}\n    No other comments so far...\n{{/payload.list}}\n</div>\n<script type=\"text/javascript\">\nfunction send() {\n    $.post(\"/restaurants/comments\", $(\"#comments-form\").serialize()).done(function(res) {\n        if (res.error)\n            alert(res.error.messages ? res.error.message.messages[0] : res.error.message);\n        else\n            $(\"#comments-modal\").modal(\"hide\").on('hidden.bs.modal', function () { main(locId); });\n    });\n}\n</script>\n",
        "x": 690,
        "y": 300,
        "wires": [
            [
                "bc12eb64.16db88"
            ]
        ]
    },
    {
        "id": "3342d34b.377e8c",
        "type": "function",
        "z": "1452011e.3101ef",
        "name": "params",
        "func": "msg.payload = {\n    filters: { rstCmtRstId: msg.payload.restaurant }\n};\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 300,
        "wires": [
            [
                "500bfaf8.d26664"
            ]
        ]
    },
    {
        "id": "e07e822a.9fd57",
        "type": "http in",
        "z": "1452011e.3101ef",
        "name": "",
        "url": "/restaurants/comments",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "5c2c89b5.dce348"
            ]
        ]
    },
    {
        "id": "ea7a5072.a2571",
        "type": "http response",
        "z": "1452011e.3101ef",
        "name": "",
        "x": 1290,
        "y": 360,
        "wires": []
    },
    {
        "id": "79e841c.2d086c",
        "type": "function",
        "z": "1452011e.3101ef",
        "name": "params",
        "func": "msg.payload = { item: msg.payload };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 360,
        "wires": [
            [
                "4757af56.1ec3e"
            ]
        ]
    },
    {
        "id": "4757af56.1ec3e",
        "type": "simplicite-object",
        "z": "1452011e.3101ef",
        "name": "",
        "server": "cb290fd0.c5004",
        "objectname": "RstComments",
        "action": "create",
        "x": 1140,
        "y": 360,
        "wires": [
            [
                "ea7a5072.a2571"
            ]
        ]
    },
    {
        "id": "1215aea6.a73581",
        "type": "sentiment",
        "z": "1452011e.3101ef",
        "name": "",
        "x": 540,
        "y": 400,
        "wires": [
            [
                "64f2a596.49595c"
            ]
        ]
    },
    {
        "id": "94a5e384.3aebc",
        "type": "function",
        "z": "1452011e.3101ef",
        "name": "comments",
        "func": "msg.payload = msg.payload.rstCmtComments;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 400,
        "wires": [
            [
                "1215aea6.a73581"
            ]
        ]
    },
    {
        "id": "5c2c89b5.dce348",
        "type": "join",
        "z": "1452011e.3101ef",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 850,
        "y": 360,
        "wires": [
            [
                "79e841c.2d086c"
            ]
        ]
    },
    {
        "id": "64f2a596.49595c",
        "type": "function",
        "z": "1452011e.3101ef",
        "name": "score",
        "func": "msg.payload = { rstCmtSentiment: msg.sentiment.score }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "f2367a8c.df68e8",
        "type": "function",
        "z": "1452011e.3101ef",
        "name": "comments",
        "func": "msg.payload = msg.payload.rstCmtComments;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 460,
        "wires": [
            [
                "87e5f98.e8d0d08"
            ]
        ]
    },
    {
        "id": "31b0e34f.b73d2c",
        "type": "function",
        "z": "1452011e.3101ef",
        "name": "score",
        "func": "msg.payload = { rstCmtTones: JSON.stringify(msg.response.document_tone.tone_categories) }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "87e5f98.e8d0d08",
        "type": "watson-tone-analyzer-v3",
        "z": "1452011e.3101ef",
        "name": "",
        "tones": "emotion",
        "sentences": "false",
        "contentType": "false",
        "x": 560,
        "y": 460,
        "wires": [
            [
                "31b0e34f.b73d2c"
            ]
        ]
    },
    {
        "id": "558137f2.1e6968",
        "type": "function",
        "z": "1452011e.3101ef",
        "name": "addapikey",
        "func": "console.log(msg);\nmsg.payload.googleapikey =  env.get(\"GOOGLE_API_KEY\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 240,
        "wires": [
            [
                "3790d1ad.632f4e"
            ]
        ]
    },
    {
        "id": "cb290fd0.c5004",
        "type": "simplicite-config",
        "z": "",
        "name": "default",
        "username": "rstfrontend",
        "password": "simplicite",
        "host": "_my_host_name_",
        "port": "443",
        "scheme": "https",
        "root": "",
        "debug": "false"
    }
]